# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
docs/
bin
# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/all/modules/dev
sites/all/themes
sites/all/modules/contrib
sites/all/modules/custom
profiles/ac/themes/bootstrap
profiles/ac/modules/features
sites/all/libraries/composer
sites/all/libraries/autoload.php
sites/all/libraries/swiftmailer
sites/all/libraries/zendframework
*.make
sites/all/drush
sites/all/modules