# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/all/modules/dev
sites/all/themes
sites/all/modules/contrib
sites/all/modules/custom
profiles/ac/themes/bootstrap
profiles/ac/modules/features
